name: deploy
on:
  push:
    branches:
      - master
  repository_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v1
    - name: setup
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: cache
      uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: nexus
      run: mvn deploy -s settings.xml
      env:
        MAVEN_REPO_USER: ${{ secrets.MAVEN_REPO_USER }}
        MAVEN_REPO_PASS: ${{ secrets.MAVEN_REPO_USER }}
        MAVEN_REPO_URL: ${{ secrets.MAVEN_REPO_URL }}
    - name: artifact
      uses: actions/upload-artifact@v1
      with:
        name: PGM.jar
        path: target/PGM.jar
